<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages theme="Standart"></pages>
    
    <customErrors mode="On">
    </customErrors>
      
    <authentication mode="Forms">
      <forms name="HotCarCookie"
             loginUrl="~/Pages/Login.aspx"
             timeout="10"
             slidingExpiration="true"
             defaultUrl="~/Secure/AdminPage.aspx"/> 
        
    </authentication>
    
    <authorization>
      <deny users="?"/>
    </authorization>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
    <add key="MailLogin" value="hotcarservice@gmail.com"/>
    <add key ="MailPassword" value="1597534682"/>
    <add key="MailDisplayName" value="HotCar Team"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI; Initial Catalog=HotCar;Data Source=ADMIN\SQLEXPRESS"/>
    <!--Integrated Security=SSPI; Initial Catalog=HotCar;Data Source=ADMIN\SQLEXPRESS-->
    <!--string connStr = ConfigurationManager.ConnectionStrings["ConnectionString"].ConnectionString;-->
  </connectionStrings>
</configuration>
