@* Layout Page for Twitter Bootstrap Modal Dialogs *@
<div class="modal fade" id="@ViewBag.ModalId" tabindex="-1" role="dialog"
     aria-labelledby="@ViewBag.ModalId@Html.Raw("label")" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">              
                <h4 class="modal-title" id="@ViewBag.ModalId@Html.Raw("label")">
                    LogIn                  
                </h4>
            </div>
            <div class="modal-body">
                @RenderBody()
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>